<h1>Mi Cars</h1>
<h3>Ya visitaste nuestra nueva  Galería de Autos, disfruta de la comodidad de nuestros mejores modelos que pueden ser para ti.</h3>

<%= link_to "Gallery the Cars", root_path, class:"nav-link" %>
<br>
<br>
<h3>Si te gusta alguno de nuestros modelos , no dudes en contactárnos dejando tus datos en nuestro botón digital para agendar tu test-drive con una de nuestras ejecutivas comerciales</h3>

<button type="button" class="btn btn-outline-primary btn-lg">Botón Digital</button>


<div class="text-bg-info p-3">
    <div class="container">
        <h1 class="text-center"></h1>
        <div class="row">
                        <div class="col-4">
                <div class="card" style="width: 30rem;">
                    <%= image_tag("tito3.jpg")%>
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                </div>
        </div>
            
    </div>
</div>





